html {
  background: #fff;
  font-family: sans-serif;
  color: #3d3d3d;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.author {
  color: steelblue;
}

.remove {
  color: tomato;
  font-weight: bold;
  cursor: pointer;
}

section {
  width: 30%;
}


fieldset {
  border: none;
  border-top: 1px solid #3d3d3d;
}
